* {
	margin: 0;
	padding: 0;
}

body {
	background-size: cover;
	text-align: center;
}

#navbar_item:last-child {
	border-right: none;
}
 
#navbar_item a, footer a {
	text-decoration: none;
  	color: #ccc;
  	font: 20px/1 Helvetica, Verdana, sans-serif;
  	text-transform: uppercase;
  	-webkit-transition: all 0.5s ease;
  	-moz-transition: all 0.5s ease;
  	-o-transition: all 0.5s ease;
  	-ms-transition: all 0.5s ease;
  	transition: all 0.5s ease;
}
 
#navbar_item, footer a:hover {
	color: #666;
}
 
#navbar_item.active, footer a {
	font-weight: bold;
	color: #333;
}

#navbar_item {
	height: 25px;
 	float: left;
	margin-right: 0px;
	border-right: 1px solid #aaa;
	padding: 0 20px;
}

ul, li, .navbar_list {
	list-style: none;
}

nav, footer {
	height: 30px;
	border-radius: 5px;
	padding: 12px;
	margin: 50px;
}

footer {
	position: fixed;  
	bottom: 0px;
}

form {
	width: 285px;
	height: 425px;
	position: absolute;
	top: 35%;
	margin-top: -87.5px;
	left: 50%;
	margin-left: -142.5px; 
	padding: 10px;
	background: url('http://i.imgur.com/3SDGNiH.png');
	border: 1px solid #ccd1d7;
	border-radius: 8px;
	font-size: 20px;
}

#new_product_form {
	height: 360px;
}

#login_form {
	height: 280px;
}
input {
	display: block;
	margin-top: 15px;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 #fff;
	font: 16px/20px 'Arial', sans-serif;
	margin: 10px 0 15px 15px;
	padding: 4px;
	width: 240px;
}

img {
	height: 200px;
	width: 250px;
}


a {
	text-decoration: none;
}
a:hover {
	color: #005C59;
    -webkit-transition: color .2s ease-out,color 1s ease-in;
    transition: color .2s ease-out, color 1s ease-in;
}

