* {
	margin: 0;
	padding: 0;
}

body {
	background-size: cover;
	height: 100vh;
	background-repeat: no-repeat;
	text-align: center;
	background-image: url('https://media.giphy.com/media/NU9hqIw9vN0fm/giphy.gif');
}

#navbar_item:last-child {
	border-right: none;
}
 
#navbar_item a, footer a {
	text-decoration: none;
  	color: #132531;
  	font: 20px/1 Helvetica, Verdana, sans-serif;
  	text-transform: uppercase;
  	-webkit-transition: all 0.5s ease;
  	-moz-transition: all 0.5s ease;
  	-o-transition: all 0.5s ease;
  	-ms-transition: all 0.5s ease;
  	transition: all 0.5s ease;
}
 
#navbar_item, footer a:hover {
	color: #666;
}
 
#navbar_item.active, footer a {
	color: #333;
}

#navbar_item {
	height: 25px;
 	float: left;
	margin-right: 0px;
	border-right: 1px solid #aaa;
	padding: 0 20px;
}

ul, li, .navbar_list {
	list-style: none;
}

nav, footer {
	height: 18px;
	border-radius: 5px;
	padding: 12px;
	margin: 50px;
}

footer {
	position: fixed;  
	bottom: 0px;
}

form {
	width: 285px;
	height: 425px;
	position: absolute;
	top: 35%;
	margin-top: -87.5px;
	left: 50%;
	margin-left: -142.5px; 
	padding: 10px;
	background: rgba(70,137,189,1);
	background: -moz-linear-gradient(top, rgba(70,137,189,1) 0%, rgba(70,137,189,1) 0%, rgba(199,228,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(70,137,189,1)), color-stop(0%, rgba(70,137,189,1)), color-stop(100%, rgba(199,228,237,1)));
	background: -webkit-linear-gradient(top, rgba(70,137,189,1) 0%, rgba(70,137,189,1) 0%, rgba(199,228,237,1) 100%);
	background: -o-linear-gradient(top, rgba(70,137,189,1) 0%, rgba(70,137,189,1) 0%, rgba(199,228,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(70,137,189,1) 0%, rgba(70,137,189,1) 0%, rgba(199,228,237,1) 100%);
	background: linear-gradient(to bottom, rgba(70,137,189,1) 0%, rgba(70,137,189,1) 0%, rgba(199,228,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4689bd', endColorstr='#c7e4ed', GradientType=0 );
	border: 1px solid #1a3343;
	border-radius: 8px;
	font-size: 20px;
}

#new_product_form {
	height: 360px;
}

#login_form {
	height: 280px;
}
input {
	display: block;
	margin-top: 15px;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 #646988;
	font: 16px/20px 'Arial', sans-serif;
	margin: 10px 0 15px 15px;
	padding: 4px;
	width: 240px;
	background: rgba(212,228,239,1);
	background: -moz-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(212,228,239,1) 35%, rgba(134,174,204,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,1)), color-stop(35%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
	background: -webkit-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(212,228,239,1) 35%, rgba(134,174,204,1) 100%);
	background: -o-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(212,228,239,1) 35%, rgba(134,174,204,1) 100%);
	background: -ms-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(212,228,239,1) 35%, rgba(134,174,204,1) 100%);
	background: linear-gradient(to bottom, rgba(212,228,239,1) 0%, rgba(212,228,239,1) 35%, rgba(134,174,204,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=0 );
}


img {
	height: 200px;
	width: 250px;
}

a {
	text-decoration: none;
}

a:hover {
	color: #005C59;
    -webkit-transition: color .2s ease-out,color 1s ease-in;
    transition: color .2s ease-out, color 1s ease-in;
}

.products_index, .products_show, .sources, .about_summary, nav, footer{
	background-color: rgba(255, 255, 255, 0.5);
}

.sources, .about_summary{
	font-size: 20px;
}
