<p>EcoView is an app built for consumers to educate themselves and spread awareness throughout their communities about the origins of their purchases - certified fair-trade coffee, shampoo not tested on animals, BPA-free plastics, lead-free paint are just a few of the little actions we can take when making choices about our purchases. 


        This is a space for those who want to share, and learn about where their purchases orginate from, as well as the impacts they have on the envrionment and its dependent species.

        We have the tools to make well designed, quality products that are sustainable, envrionmently restorative and species-friendly. While many destructive practices occur at a constant rate, there are solutions that exist. 

                    Give our planet a voice.</p>