
	<!-- Register a controller for signup page-->
	<form class='flex_container' id='form_container_login' ng-controller="UsersShowController as login" ng-submit="getUser()">
		<!-- Username -->
		<table class='flex_item' id='login' style='width:100%'>
				<tr>
					<div class='form labels'>
						<label for="User-username">Username:</label>
							<!-- Bind HTML element's value to model. -->
							<input id='form-label-name' type="text" id="User-username" ng-model="User.username" placeholder='Your name here'>
					</div>
				</tr>
					<!-- Email -->
				<tr>
					<div class='form labels'>
						<label for="User-email">Email:</label>
							<input type="text" id="User-email" ng-model="User.email" placeholder='youremail@email.com'>
					</div>
				</tr>
					<!-- Password -->
				<tr>
					<div class='form labels'>
						<label for="User-password">Password:</label>
							<input type="text" id="User-password" ng-model="User.password" placeholder=''>
					</div>
				</tr>
					<!-- Login -->
					<div>
						<input type='submit' value='Login'>
					</div>
			</table>
		</form>
	</div>