	<section id='products' class='container'>
	<!-- Repeat directive iterates over products collection to render each product--> 
		<div class='products_index' ng-repeat='product in products'>
			<div>
			console.log('helloworld');
			<h1>sfnekwn</h1>
				<h2 class='product_name'><a href='/#/products/{{product.product_name}}'>{{product.product_name}}</a></h2>
					<ul>
						<li>{{product.company_name}}</li>
						<li>{{product.sector}}</li>
						<li>{{product.industry}}</li>
						<li>{{product.comments}}</li>
						<li><a href='#' target='blank'> {{product.image}}</a></li>
					</ul>
						<div class='recently_added'>
							<h1>Recently added</h1>
						</div>
						<div class='most_upvotes'>
							<h1>Most upvotes</h1>
						</div>
						<div class='most_downvotes'>
							<h1>Most downvotes</h1>
						</div>
			</div>
		</div>
	</section>