<nav>
    <a href='signup.html'>Sign Up</a> or <a href='login.html'>Login</a>
    <a href='profile.html'>Profile</a>
    <a href='productIndex.html'>All Products</a>
</nav>
<!-- Register a controller for section of application. -->
			<form id='product-form' ng-controller="ProductNewController as productCtrl" ng-submit="submit()">
				<!-- Name input -->
				<table style='width:100%''>
					<div class='form labels'>
						<label for="newProduct-name">Product:</label>
						<!-- Bind HTML element's value to model. -->
						<input id='form-label-name' type="text" id="newProduct-name" ng-model="newProduct.product_name" placeholder=''>
					</div></tr>
					<!-- Company -->
					<tr><div class='form labels'>
						<label for="newProduct-company">Company:</label>
						<input type="text" id="newProduct-company" ng-model="newProduct.company" placeholder=''>
					</div></tr>
					<!-- Comments -->
					<tr><div class='form labels'>
						<label for="newProduct-comments">Comments:</label>
						<input type="text" id="newProduct-comments" ng-model="newProduct.comments" placeholder=''>
					</div></tr>
					<!-- Image -->
					<tr><div class='form labels'>
						<label for="newProduct-image">Image:</label>
						<input type="text" id="newProduct-image" ng-model="newProduct.image" placeholder=''>
					</div></tr>
					<!-- Submit form -->
					<div>
						<input type='submit' value='Add new product'>
					</div>
				</table>
			</form>
<footer>
	<a href='index.html'>Home</a>
	<a href='about.html'>About</a>
</footer>