<!-- Create Angular views and build UI by templating directly into HTML with expressions.
	 -->
<section id='products' class='container' ng-controller='ProductsShowController as getProduct'>
	<div class='products_show'>
		<h2 class='getProduct.product_name'>{{ product.product_name }}</h2>
			<h3 class='getProduct.company_name'>{{ product.company_name }}</h3>
				<ul>
					<div>
						<a href='#' target='blank'>{{product.image}}</a>
					</div>
						<h4 ng-model='getProduct.product'>{{ product.sector }}</h4>
						<h5>{{ product.industry }}</h5>
						<li>{{ product.comments }}</li>
				</ul>
			<a href='/#/products/edit/{{product._id}}'>Edit</a> 
			<a href='/#/products/edit/{{product._id}}'>Edit</a> 
	</div>
</section>