<section class='fbox-container'>
	<!-- Repeat directive iterates over products collection to render each product--> 
	<input type='text' class='fbox-item' id='myInput' onkeyup='myFunction()' placeholder='Search for products...'>
		<div ng-repeat='product in products'>
			<table id='industryTable'>
				<tr class='header'>
					<th class='fbox-item'>
					<a href='/#/products/{{product._id}}'>{{product.product_name}}</a></th>
					<th class='fbox-item'>{{product.company_name}}</th>
					<th class='fbox-item'>{{product.sector}}</th>
					<th class='fbox-item'>{{product.industry}}</th>
					<th class='fbox-item'>{{product.comments}}</th>
					<th class='fbox-item'><img src='{{product.image}}'></th>
				</tr>
			</table>
		</div>
</section>





<!-- 	<div class='recently_added'>
		<h1>Recently added</h1>
	</div>
	<div class='most_upvotes'>
		<h1>Most upvotes</h1>
	</div>
	<div class='most_downvotes'>
		<h1>Most downvotes</h1>
	</div> -->