<!-- Register a controller for section of application. -->
<form class='flexbox_container' id='flex_form' ng-controller="ProductsNewController as newProduct" ng-submit='createProduct()'>	
	<!-- Product Name -->
	<div class='flexbox_item' id='form_input'>
		<label for="updateProduct-product_name">Product:</label>
			<!-- Bind HTML element's value to model. -->
			<input type="text" class="form_input"  ng-model="newProduct.product_name" placeholder=''>
	</div>
	<!-- Company -->
	<div class='flexbox_item' id='form_input'>
		<label for="updateProduct-company_name">Company:</label>
			<input type="text" class="form_input"  ng-model="newProduct.company_name" placeholder=''>
	</div>
	<!-- Comments -->
	<div class='flexbox_item' id='form_input'>
		<label for="updateProduct-comments">Comments:</label>
			<input type="text" class="form_input"  ng-model="newProduct.comments" placeholder=''>
	</div>
	<!-- Image -->
	<div class='flexbox_item' id='form_input'>
		<label for="updateProduct-image">Image:</label>
			<input type='url' src="img_submit.jpg" class="form_input"  ng-model="newProduct.image" placeholder='IMG URL'>
	</div>
	<!-- Submit form -->
	<div class='flexbox_item' id='button'>
		<input type='submit' class="form_input" value='Add new product'>
	</div>
</form>