<section class='flex_container' id='products_container'>
	<!-- Repeat directive iterates over products collection to render each product--> 
<!-- 	<div class='recently_added'>
		<h1>Recently added</h1>
	</div>
	<div class='most_upvotes'>
		<h1>Most upvotes</h1>
	</div>
	<div class='most_downvotes'>
		<h1>Most downvotes</h1>
	</div> -->
		<div ng-repeat='product in products' class='flex_item' id='allProducts'>
			<div  class='products_index'>
				<h2 class='product_name'><a href='/#/products/{{product._id}}'>{{product.product_name}}</a></h2>
					<ul>
						<h3>{{product.company_name}}</h3>
						<h4>{{product.sector}}</h4>
						<h5>{{product.industry}}</h5>
						<li>{{product.comments}}</li>
						<li><img src='{{product.image}}'>
						</li>
					</ul>
			</div>
		</div>
</section>