<!-- 		<div ng-repeat='sector in sectors' class=''>
			<table id='industryTable'>
				<tr class='header'>
					<th class='fbox-item'>
					<a href='/#/sectors/{{sector._id}}'>{{sectors.sector}}</a></th>
			
				</tr>
			</table>
		</div> -->
		<!DOCTYPE html>
<html>
<head>
	<title>Sectors and Industr</title>
	<!-- Styles -->
	<link rel="stylesheet" href="styles.css"/>
</head>

<body>
	<!-- FULLPAGE CONTAINER -->
	<div class='flexbox_container'>
	 <!-- AGRIBUISNESS -->
		<div class='flexbox_item sector' id='agribuisness'>
			<h1>Sector : Agribuisness</h1>
				<div class='flexbox_item industry' id='fruits-veggies'>
					<div class='overlay'>
						<h3>Fruits & Vegetables</h3>
					</div>
				</div>
				<div class='flexbox_item industry' id='sugar' >
					<div class='overlay'>
						<h3>Sugar Cane & Sugar Beets</h3>
					</div>
				</div>
				<div class='flexbox_item industry' id='tobacco'>
					<div class='overlay'>
						<h3>Tobacco</h3>
					</div>
				</div>
				<div class='flexbox_item industry' id='dairy'>
					<div class='overlay'>
						<h3>Dairy</h3>
					</div>
				</div>
				<div class='flexbox_item industry' id='eggs'>
					<div class='overlay'>
						<h3>Poultry & Eggs</h3>
					</div>
				</div>
				<div class='flexbox_item industry' id='livestock'>
					<div class='overlay'>
						<h3>Livestock</h3>
					</div>
				</div>
				<div class='flexbox_item industry' id='farm-bureaus'>
					<div class='overlay'>
						<h3>Farm Bureaus</h3>
					</div>
				</div>
				<div class='flexbox_item industry' id='food-manufacture'>
					<div class='overlay'>
						<h3>Food Products Manufacturing</h3>
					</div>
				</div>
				<div class='flexbox_item industry' id='food-stores'>
					<div class='overlay'>
						<h3>Food Stores</h3>
					</div>
				</div>
				<div class='flexbox_item industry' id='meat'>
					<div class='overlay'>					
						<h3>Meat Processing & Products</h3>
					</div>
				</div>
				<div class='flexbox_item industry' id='forest'>
					<div class='overlay'>
						<h3>Forestry & Forest Products</h3>
					</div>
				</div>
		</div>
		<!-- COMMUNICATIONS & ELECTRONICS -->
		<div class='flexbox_item' id='communications-electronics'>
			<h1>Communications & Electronics</h1>
				<h2></h2>
			<div class='flexbox_item'>
					<h3>Books, Magazines & Newspapers</h3>
				</div>
				<div class='flexbox_item'>
					<h3>Cable & Satellite TV Production & Distribution</h3>
				</div>
				<div class='flexbox_item'>
					<h3>Commercial TV & Radio Stations</h3>
				</div>
				<div class='flexbox_item'>
					<h3>Motion Picture Production & Distribution</h3>
				</div>
				<div class='flexbox_item'>
					<h3>Recorded Music & Music Production</h3>
				</div>
				<div class='flexbox_item'>
					<h3>TV Production</h3>
				</div>
				<div class='flexbox_item'>
					<h3>Telephone Utilities</h3>
				</div>
				<div class='flexbox_item'>
					<h3>Telecom Services & Equipment</h3>
				</div>
				<div class='flexbox_item'>
					<h3>Computer Software</h3>
				</div>
				<div class='flexbox_item'>
					<h3>Internet</h3>
				</div>
		</div>
		<div class='flexbox_item' id='construction'>
			<h1>Construction</h1>
			<div class='flexbox_item industry'>
					<h3>General Contractors</h3>
				</div>
				<div class='flexbox_item industry'>
					<h3>Home Builders</h3>
				</div>
				<div class='flexbox_item industry'>
					<h3>Special Trade Contractors</h3>
				</div>
				<div class='flexbox_item industry'>
					<h3>Architectural Services</h3>
				</div>
				<div class='flexbox_item industry'>
					<h3>Building Materials & Equipment</h3>
				</div>
			</div>

		</div>	
		<!-- 

			<div class='flexbox_item' id='defense'>
			<h1>Defense</h1>
				<div class='flexbox_item'>
					<h3>Defense Aerospace</h3>
				</div>
				<div class='flexbox_item'>
					<h3>Defense Electronics</h3>
				</div>
				<div class='flexbox_item'>
					<h3>Miscellaneous Defense</h3>
				</div>
			</div>

		<div class='flexbox_item' id='energy-resources'>
			<h1>Energy & Natural Resources</h1>
				<div class='flexbox_item'>
					<h3>Oil & Gas Pipelines</h3>
				</div>
				<div class='flexbox_item'>
					<h3>Mining</h3>
				</div>
				<div class='flexbox_item'>
					<h3>Alternative Energy Production & Services</h3>
				</div>
				<div class='flexbox_item'>
					<h3>Electric Utilities</h3>
				</div>
				<div class='flexbox_item'>
					<h3>Waste Management</h3>
				</div>
			</div>
		<div class='flexbox_item' id='health'>
			<h1>Health</h1>
				<div class='flexbox_item'>
					<h3>Waste Management</h3>
				</div>
				<div class='flexbox_item'>
					<h3>Waste Management</h3>
				</div>
				<div class='flexbox_item'>
					<h3>Waste Management</h3>
				</div>
				<div class='flexbox_item'>
					<h3>Waste Management</h3>
				</div>
		</div>
		<div class='flexbox_item' id='misc'>
			<h1>Misc. Buisness</h1>
			<!-- 	<div class='flexbox_item'>
					<h3>Health Professionals</h3>
				</div>
				<div class='flexbox_item'>
					<h3>Health Services/HMOs</h3>
				</div>
				<div class='flexbox_item'>
					<h3>Pharmaceuticals & Health Products</h3>
				</div> -->
	<!-- 	</div> -->
 -->
	</div> 
	<!-- END OF FULLPAGE CONTAINER -->

</body>
</html>