<nav>
    <ul>
        <li><a href='index.html'>Home</a></li>
        <li><a href='index.html'>About</a></li>
        <li><a href='login.html'>Login</a></li>
        <li><a href='profile.html'>Profile</a></li>
        <li><a href='productIndex.html'>All Products</a></li>
        <li><a href='productNew.html'>Add a Product</a></li>
    </ul>
</nav>
	<section class='container'> 
			<div class='signup_form'>
				<h2>{{user.username}}</a></h2>
					<ul>
						<li>{{user.email}}</li>
						<li>{{user.password}}</li>
						<li>{{user.location}}</li>
						<li>{{user.avatar}}</li>
					</ul>
			</div>
	</section>