<section class='container'> 
	<div class='signup_form'>
		<!-- Register a controller for signup page-->
		<form id='UserSignup' ng-controller="UsersNewController as newUser" ng-submit="createUser()">
				<!-- Username -->
			<table style='width:100%''>
				<tr>
					<div class='form labels'>
						<label for="User-username">Username:</label>
						<!-- Bind HTML element's value to model. -->
							<input type="text" class="signup_input" ng-model="newUser.username" placeholder='Your name here' ng-required='true' ng-minlength='2'>
							<span class='error-message' ng-show='userForm.lName.$dirty &&userForm.lName.$error.required'>Must Enter a Username</span>
					</div>
				</tr>
					<!-- Email -->
				<tr>
					<div class='form labels'>
						<label for="User-email">Email:</label>
							<input type="text" class="signup_input" ng-model="newUser.email" placeholder='your_email@email.com' ng-required='true' ng-minlength='2'>
					</div>
				</tr>
					<!-- Password -->
				<tr>
					<div class='form labels'>
						<label for="User-password">Password:</label>
							<input type="text" class="signup_input" ng-model="newUser.password" placeholder='password' ng-required='true' ng-minlength='5'>
					</div>
				</tr>
					<!-- Location -->
				<tr>
					<div class='form labels'>
						<label for="User-location">Location:</label>
							<input type="text"  class="signup_input" ng-model="newUser.location" placeholder='Denver, CO'>
					</div>
				</tr>
					<!-- Avatar -->
				<tr>
					<div class='form labels'>
						<label for="User-avatar">Avatar:</label>
							<input type="text"  class="signup_input" ng-model="newUser.avatar" placeholder='IMG URL'>
					</div>
				</tr>
					<!-- Signup -->
					<div>
						<input class="signup_input" type='submit' value='Sign Up!'>
					</div>
			</table>
		</form>
	</div>
</section>